@import url(chrome://angel-player/content/common/assets/common.css);

html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0 0 0 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#header {
    background-color: #1b1464;
}

#logo {
    float: left;
}

#appLogo {
    padding: 5px 5px 0 5px;
    height: 1.5em;
}

#title {
    float: left;
    left: 0;
    font-family: 'Open Sans';
    font-weight: 300;
}


#appTitle {
    font-size: 1.3em;
    font-weight: 300;
    color: #dbdbdb;
}

#currentEnvironment {
    font-size: 1.3em;
}

.emphasize {
    color: white !important;
    font-weight: 400 !important;
}


#tabsDiv {
    float: right;
    right: 0;
    padding: 5px 0 0 0;
}

#header a {
    margin: 5px 5px 5px 5px;
    color: #dbdbdb;
    font-family: 'Open Sans';
    font-weight: 300;
    text-decoration: none;
}

#header a.tabActive {
    color: white;
    font-weight: 400;
}

#mainContent {
    /* Note: this flex makes the main content take up all the remaining space
       but is aware of the tabs above it. */
    flex: 1;
    display: flex;
    flex-direction: column;
}

#mainCenter {
    display: flex;
    flex-direction: row;
}

/* TODO(rqou): This is duplicated in a bunch of places */
.absolutelyNoSpace {
    border: 0 none transparent;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
