html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0 0 0 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#mainContent {
    /* Note: this flex makes the main content take up all the remaining space
       but is aware of the tabs above it. */
    flex: 1;
    display: flex;
    flex-direction: column;
}

#topDiv {
    background-color: red;
}

#bottomDiv {
    background-color: orange;
}

#mainCenter {
    display: flex;
    flex-direction: row;
}

#leftDiv {
    background-color: yellow;
}

#rightDiv {
    background-color: green;
}

#centerDiv {
    background-color: blue;
}
