html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0 0 0 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#mainContent {
    /* Note: this flex makes the main content take up all the remaining space
       but is aware of the tabs above it. */
    flex: 1;
    display: flex;
    flex-direction: column;
}

#mainCenter {
    display: flex;
    flex-direction: row;
}

#title {
	float: left;
	left: 0;
}

.emphasize {
	color: #ff00ff;
}

#appTitle {
}

#currentEnvironment {
}

#tabsDiv {
	float: right;
	right: 0;
}

a {
	margin: 5px 5px 5px 5px;
}

a.tabActive {
	color: #ff00ff;
}


/* TODO(rqou): This is duplicated in a bunch of places */
.absolutelyNoSpace {
    border: 0 none transparent;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
