#toolbar
{
    position:fixed;
    top:55px;
    left:5px;
    background-color: #999999;
    width:5%;
    min-width:40px;
    height:80%;
}

#maker-body
{
    width: 100%;
    height: 100%;
    /* TODO(rqou): Why? */
}

#eddy-mainScreen
{
    position:fixed;
    top:55px;
    left:5%;
    width:75%;
    height:80%;
}

#addingSelector
{
    position:fixed;
    top:55px;
    left:80%;
    width:15%;
    min-width:120px;
    height:40%;
    background-color:#d0e4fe;
    font-weight:bold;
}

#currentSelection
{
    position:fixed;
    top:calc(40% + 50px);
    left:80%;
    width:15%;
    min-width:120px;
    height:40%;
    background-color:#d0e4fe;
    font-weight:bold;
}

#options
{
    position:fixed;
    top:calc(80% + 50px);
    left:5px;
    background-color:#d0e4fe;
    width:calc(95% - 5px);
    height:5%;
    min-height:25px;
}
#classSelector
{
    float:right;
    width:50%;
    background-color: white;
    border:none;
}
#objSelector
{
    float:right;
    width:50%;
    background-color: white;
    border:none;
}
#add
{
    float:right;
}


.toolBut
{
    background-color: #999999;
    border: none;
    width:100%;
    height:10%;
    color: black;
}

.toolBut:hover
{
    background-color: #d0e4fe;
    border: none;
    color: black;
}

.optionBut
{
    background-color: #d0e4fe;
    border: none;

    width: 10%;
    height: 100%;
}

.optionBut:hover
{
    background-color: #999999;
}

.submitButton
{
    background-color: #999999;
    border: none;

    position: absolute;
    top: 87%;

    width: 100%;
    height: 10%;
}

.inputField
{
    width: 40%;
    float: right;
    border: none;
    background-color: white;
}

.parametersList
{
    background-color: #d0e4fe;
    border: none;

    height: 65%;

    overflow-y: scroll;
}