[access]
	inheritFrom = All-Projects
[project]
	state = active
[submit]
	action = cherry pick
[access "refs/*"]
	owner = group project-tenshi-owners
[access "refs/for/refs/*"]
	pushMerge = group Project Owners
	label-Code-Review = -1..+1 group Non-Interactive Users
	label-Verified = -1..+1 group Non-Interactive Users
[access "refs/heads/*"]
	label-Code-Review = -1..+1 group Non-Interactive Users
	label-Verified = -1..+1 group Non-Interactive Users
[label "Verified"]
    function = MaxWithBlock
    value = -1 Fails
    value =  0 No score
    value = +1 Verified

