[project]
	state = active
[receive]
	requireChangeId = true
[submit]
	action = fast forward only
[access "refs/*"]
	read = group ldap/pie-staff
	read = group ldap/tbp-officers
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group PiE Electrical Owners
	label-Verified = -1..+1 group PiE Electrical Owners
	submit = group ldap/pie-staff
	submit = group ldap/tbp-officers
	abandon = group PiE Electrical Owners
	rebase = group PiE Electrical Owners
[access "refs/heads/${username}/*"]
	create = group ldap/pie-staff
	create = group ldap/tbp-officers
	push = +force group ldap/pie-staff
	push = +force group ldap/tbp-officers
	rebase = group ldap/pie-staff
	rebase = group ldap/tbp-officers
