/*
  Licensed to Pioneers in Engineering under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  Pioneers in Engineering licenses
  this file to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
   with the License.  You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License
*/

body {
    margin: 0 0 0 0;
    background-color: white;
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    /* This is so that scroll bars don't mess up (as bad) with the debug
    overlay visible. */
    pointer-events: none;
}

/* If you have enough stuff in here to make this slowness noticable, your footer
   has too much crap in it. */
/*csslint universal-selector: false*/
#footer * {
    /* Make it possible to click only the things inside the debug footer. */
    pointer-events: auto;
}

#footer-debug-container {
    float: right;
    font-size: 0.5em;
    margin-right: 1em;
}

#toggle-debug {
    width: 0.5em;
    height: 0.5em;
    background-color: gray;
    float: right;
}

#mainContent {
    border: 0 none transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
}
